/*my city*/
.ajluon {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  border-bottom: 7px solid rgb(40, 143, 40);
  color: rgb(61, 120, 65);
  font-weight: bold;
  font-size: x-large;
  text-shadow: 4px 4px 9px rgb(0, 0, 0);
}
.text {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: right;
  background-color: rgb(109, 137, 109) / 50%;
  font-size: larger;
}
.pppp {
  padding: 0% 10%;
}
.list {
  font-size: larger;
  padding: 0% 10%;
  text-align: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.res {
  font-weight: bold;
  text-align: right;
  padding: 0% 10%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: larger;
}
h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  font-weight: bold;
}
.myycity {
  color: rgb(40, 143, 40);
}

/*background color for the all paje access menu on each page */
.forme {
  background-color: rgb(205, 130, 142);
}
.link4mycity {
  background-color: rgb(110, 131, 79);
}
.all {
  background-color: rgb(232, 162, 72);
}

/*me*/
.galleryy {
  /*box-shadow: 0px 1px 9px rgb(185, 92, 182)*/
  filter: brightness(1.2) saturate(1.7);
}
#myname {
  /* text-decoration: underline;
   text-decoration-color: rgb(245, 241, 17);*/
  color: rgb(189, 68, 108);
  padding-right: 1%;
  border-bottom: 10px solid rgb(202, 65, 111);
  text-shadow: 4px 4px 8px rgb(80, 76, 76);
}

#information {
  text-align: right;
  color: rgb(189, 68, 108);
  font-size: 20px;
  padding-right: 27%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.links {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: rgb(127, 96, 155);
}

.img {
  float: left;
  width: 150px;
  padding: 0% 5% 0% 5%;
}


/*prominentlandmark*/
.p,
.reson,
.star {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  margin: 0px 30px;
  font-size: 25px;
}
.star {
  font-size: 30px;
  color: rgb(87, 60, 26);
}
.pro {
  font-size: 30px;
  border-bottom: 3px solid rgb(184, 148, 105);
  color: rgb(87, 60, 26);
  text-align: center;
  text-shadow: 4px 4px 10px rgb(66, 43, 33);
}
.reson {
  text-align: center;
  margin: 0px 90px;
  font-size: 30px;
}
.p {
  color: rgb(87, 60, 26);
}
.reson {
  color: rgb(70, 135, 26);
}
span {
  color: rgb(202, 129, 20);
  font-size: 27px;
}
.video {
  margin: 0px 350px;
}
